* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/*My styles*/
.mensaje {
  color: tomato;
}

.cont-mobile {
  width: 90%;
}

img {
  width: 90px;
}

.search-bar {
  padding: 1rem 0;
}

.footer {
  padding: 1.5rem;
}

/* BACKGROUND IMAGE HERO*/
.is-transparent {
  opacity: 0.9;
}

.hero.has-background {
  position: relative;
  /* overflow property specifies what should 
  happen if content overflows an element's box */
  overflow: hidden;
}

.hero-background {
  position: absolute;
  object-fit: cover;
  object-position: center center;
  width: 100%;
}

@media (max-width: 1024px) {
  .hero-background {
    /* position: absolute; */
    /* object-fit: cover;  */
    object-position: center center;
    height: 100%;
  }
}

/** MAIN PAGE **/
.vista-carrito {
  justify-content: space-between;
}

.cantidad-carrito {
  width: 80px;
  position: absolute;
  right: 8%;
  top: 25%;
}

@media (min-width: 768px) {
  .cantidad-carrito {
    width: 60px;
    top: 15%;
  }
}

.icono:hover {
  cursor: pointer;
}

.cantidad {
  padding: auto;
  border-radius: 1rem;
  width: 30px;
  position: absolute;
  bottom: 5px;
}

.modificar-producto {
  width: 50px;
}

#carrito {
  border-radius: 0.5rem;
  width: 280px;
  padding: 1.5rem;
  position: absolute;
  right: 12%;
  top: 25%;
}

.clientField {
  width: 25%;
}

@media (max-width: 768px) {
  .clientField {
    width: 100%;
  }
}

.gif {
  width: 20px;
}
